[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
sqlalchemy = "*"
pylint = "*"
autopep8 = "*"
flask-sqlalchemy = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
