<!doctype html>
<html>
<head>
    <title>Input Page</title>
</head>
<body>
    <h1>Thêm URL vào database để theo dõi</h1>
        <textarea id="input_text" rows="10" cols="50"></textarea><br>
        <button onclick="sendData()">Thêm URL vào để theo dõi</button>
    <p id="result" style="font-size: larger;"></p>

    <br>

    <h1>Cập nhật SERP cho một số keyword</h1>
        <textarea id="force_update_some" rows="10" cols="30"></textarea><br>
        <button onclick="forceUpdateSome()">Cập nhật SERP cho một số keyword</button>
    <p id="result" style="font-size: larger;"></p>


    <br><br><br><br>
    <button onclick="forceUpdate()">CẬP NHẬT TẤT CẢ KEYWORD TỪ TRƯỚC ĐẾN GIỜ</button>

    <script>
        function sendData() {
            const inputText = document.getElementById("input_text").value;
            fetch("/queue", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ urllist: inputText })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = data.message;
            })
            .catch(error => console.error("Error:", error))
            .then(() => delay(1000))
            .then(() => forceUpdate());
        }

        function forceUpdateSome() {
            const inputText = document.getElementById("force_update_some").value;
            fetch("/force-update-some", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ urllist: inputText })
            })
        }


        // Delay function that returns a promise that resolves after the specified delay
        function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        }
        
        function forceUpdate() {
            fetch("/force-update-all", {
                method: "PUT",
            });
        }
    </script>
</body>
</html>